
/*========
 底部关于栏样式
 ==========*/
.about{
  /*height: 18.75rem;*/
  background: #2E3E4E;
  padding: 3rem 10rem;
  display: flex;
  justify-content: space-between;
}
/*手机界面*/
@media only screen and (max-width: 1000px) {
  .about{
    padding: 3rem 5rem;
  }
}
.about_left{
  flex:1;
  /*margin-left:10%;*/
  margin-right: 5%;
}
.left_top{
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #797777;
  text-align: center;
}
.left_bottom{
  padding-top: 1.5rem;
  text-align: center;
}
.about_right{
  flex: 3;
}
.right_top{
  height: 16.8rem;
  border-bottom: 1px solid #797777;
}
.right_top a{
  text-decoration:none;
  color: rgba(255, 255, 255, .7);
}
.right_top a:hover {
  text-decoration:underline;
  color: rgba(255, 255, 255, 1);
}
.about_table{
  width: 100%;
}
.about_table th{
  color:#45BDCE;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}
.about_table td{
  height: 3rem;
}
.bottom_p{
  color:#45BDCE;
  font-size: 1.2rem;
  margin-top: .7rem;
}
.bottom_ul{
  display: flex;
}
.bottom_ul li{
  flex: 1;
}
.bottom_ul span{
  display: block;
  color: rgba(255, 255, 255, .7);
  margin-right: 4rem;
}
.bottom_ul img{
  float: left;
  margin-right: 1rem;
}
/*手机界面*/
@media only screen and (max-width: 1000px) {
  .about_left{
    display: none;
  }
  .bottom_ul span{
    margin-right: -4rem;
  }
}
/*========
 底部logo链接样式
 ==========*/
.foot_logo{
  padding:1rem 10rem;
  line-height: 3.5rem;
}
.foot_logo img{
  float: left;
}
.foot_logo_ul{
  display: flex;
  float: right;
}
.foot_logo_ul li+li{
  margin-left: 3rem;
}
.foot_logo_ul a{
  text-decoration:none;
  color: #9E9E9E;
}
.foot_logo_ul a:hover {
  text-decoration:underline;
}
/*手机界面*/
@media only screen and (max-width: 1000px) {
  .foot_logo_ul li+li{
    margin-left: 1rem;
  }
  .foot_logo{
    padding-right: 8rem;
  }
}
/*========
 底部样式
 ==========*/
.foot{
  height: 30px;
  width: 100%;
  background: #999;
  text-align: center;
  color: #FFF;
  line-height: 30px;
  font-size: .9rem;
}