/************
 * 页面样式
 ************/

/* ==========
   基本默认值
   ========== */

html {
    font-size: 87.5%;
    font-family:Arial,yahei;
    color: #666;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:focus{
  outline:none;
}
h1,h2,h3{
  margin-top: .6rem;
  margin-bottom: .6rem;
}
/* ==========
   工具样式
   ========== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;/*隐藏不占据空间*/
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;/*隐藏保留所占空间*/
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.blockImg{
  /*width: 100%;*/
  height: auto;
  max-width: 100%;
}
/*========
   清除浮动
 ==========*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/*========
  头部样式
 ==========*/
#head,.layui-nav{
    height: 5.3rem;
}
.logo{
    padding:0 12.8rem;
    height: 100% !important;
    display: flex;
    align-items: center;
}
/*手机界面*/
@media only screen and (max-width: 1000px) {
  .logo{
    padding: 0rem;
    height: 100% !important;
    display: flex;
    align-items: center;
  }
  .layui-nav{
    text-align: center !important;
  }
}
.layui-nav a {
    font-size: 1.2rem !important;
    padding: 0 2rem !important;
}
.layui-nav{
    background: #45BDCF;
}
.layui-nav-bar, .layui-nav .layui-this:after,
.layui-nav-tree .layui-nav-itemed:after {
    background: #FFF;
}
.layui-nav .layui-nav-item{
    line-height: 5.3rem;
}
/*========
  iframe样式
 ==========*/
.nav img{
  display: block;
  margin: 0px auto;
  /*width: 100%;*/
  height: auto;
  max-width: 100%;
}
/*========
  底部样式
 ==========*/
#iframe_foot{
  height: 42.7rem;
}
/*手机界面*/
@media only screen and (max-width: 1500px) {
  #iframe_foot{
    height: 535px;
  }

}
